:root .light-theme {
    --main-bg: #d0ccec;
    --dark-purple-bg: #7850f099;
    --lesson-nav-btn-bg: #dcdcf0;
    --main-dark-purple-1: #c5bde8;
    --main-dark-purple-2: linear-gradient(180deg, #dcdcf0, #baafe5 100%, #b4b4dc 0);
    --main-dark-purple-4: #643cc8;
    --main-dark-purple-5: linear-gradient(180deg, #dcdcf0, #baafe5 100%, #b4b4dc 0);
    --main-dark-purple-6: #dcdcf0;
    --main-dark-purple-8: #dcdcf0;
    --main-text: #1e1e28;
    --white-text-1: #1e1e28;
    --white-text-2: #1e1e28;
    --white-text-3: #1e1e2899;
    --main-light-purple-4: linear-gradient(180deg, #b4a0dc, #8c78dc);
    --main-light-purple-5: #643cc833;
    --main-light-purple-2-hover: #dcdcf0;
    --main-purple-4: #7850f066;
    --scroll-thumb: #000c;
    --user-menu-bg: #c4bce8;
    --tooltip-bg: #beb2f0;
    --font-settings-bg: #dcdcf0;
    --payment-color: #f0f;
    --payment-button-bg: #643cc833;
    --button-active: #643cc8;
    --select-options-1: #d0ccec;
    --bg-panel: #643cc81a;
    --bg-panel-solid: #b2a7db;
    --bg-panel-hover: #00000026;
    --bg-panel-active: #643cc8;
    --bg-solid: #dcdcf0;
    --bg-solid-dark: #d0ccec;
    --bg-panel-opacity: #dcdcf0cc;
    --progress-color: #7850f0;
    --progress-track-color: #7850f033;
    --hover-progress-color: #fff;
}
@font-face {
    font-display: swap;
    font-family: Montserrat;
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.d5e0cc78.ttf);
}
body, html {
    box-sizing: border-box;
    margin: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    min-height: 100%;
    min-width: 100px;
}
.colum, .flex, .row {
    display: flex;
    flex-wrap: wrap;
}
.breads_row__wrapper {
    align-items: center;
    color: var(--white-text-1);
    flex-wrap: nowrap;
    max-width: 100%;
    padding: 0 16px;
}
.breads_row__col {
    align-items: center;
    display: flex;
    gap: 8px;
}
.breads_row__list {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bread-button {
    color: var(--white-text-1);
    font-family: Play, sans-serif;
    font-size: 22px;
    line-height: 28px;
}
.course_menu__list-item {
    align-items: center;
    background-color: #643cc81a;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 16px;
    position: relative;
}
.course_menu__list-item.active {
    background-color: #643cc8;
    color: #fff;
}
.relative-position {
    position: relative;
}
.layout__scroll-wrapper {
    bottom: 0;
    left: 0;
    padding: 0 16px 16px;
    position: absolute;
    right: 0;
    top: 0;
}
.custom-scroll-1 {
    overflow: auto;
}
.fit, .full-height {
    height: 100% !important;
}
.course__wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: 300px 1fr;
    height: inherit;
    transition: all .2s ease;
    width: 100%;
}
.course_about__info-left {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 32px;
}
.course_about__subtitle {
    color: var(--white-text-2);
    font-family: Furore, Montserrat, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}
.q-drawer {
    background: #fff;
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}
.index_layout__drawer {
    background-color: var(--main-bg);
    font-family: Play, sans-serif;
    overflow: visible;
    padding-top: 10px;
    position: relative;
    z-index: 2001;
}
.index_layout__drawer-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.menu-button {
    border-radius: 10px;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-bottom: 8px;
    position: relative;
    width: 48px;
}
.hover-button {
    align-items: center;
    background: var(--main-light-purple-2);
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    display: none;
    flex-wrap: nowrap;
    font-size: 1rem;
    height: 100%;
    justify-content: space-between;
    left: 0;
    letter-spacing: .03125em;
    line-height: 1.5rem;
    padding: 8px 8px 8px 12px;
    position: absolute;
    top: 0;
    z-index: 999;
}
.course_about__info {
    background-color: var(--bg-panel);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}
.course_about__info-left {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 32px;
}
.hidden {
    display: none;
}
